body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: #fff;
    
    /* центрирование всего контента */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} 

.container {
    width: 100%;
    max-width: 1400px;

    padding: 0 auto;
    margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    text-decoration: none;
}



/* MAIN */


main {
    background-image: url(images/main-bg2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 608px;
    height: 616px;
}

.cart-log-in {
    display: flex;
    justify-content: center;

    margin-top: 15%;
}

.cart-inner {
    padding: 100px 80px;

    border-radius: 80px;

    background-color:rgb(255, 255, 255, 0.25) ;

    box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.3);

    backdrop-filter: blur(0px);

    transition: all 1.5s ease;
}

.cart-inner:hover {
    backdrop-filter: blur(3px);

    box-shadow: 0px 0px 1000px 70px rgba(255, 255, 255, 0.3);
}

.cart-title {
    margin-bottom: 40px;
}

.cart-title > h2 {
    display: flex;
    justify-content: center;

    font-size: 50px;
}

.cart-btn {
    margin-top: 30px;

    display: flex;
    justify-content: center;
}


.transparent-input {
    background: transparent;
    border: 0.5px rgb(255, 255, 255, 0.1) solid;
    border-radius: 10px;
    outline: none;
    color: inherit;
}

.email {
    margin-bottom: 10px;
}

.email,
.password {
    text-align: center;  
}


.cart-btn > a {
    color: rgb(255, 255, 255, 0.25);
    
    font-weight: bold;

    background-color: rgba(38, 0, 255, 0.05);

    padding: 10px 60px;

    border-radius: 5px;

    transition: all 0.5s ease;
}

.cart-btn > a:hover {
    background-color: rgba(38, 0, 255, 0.15);
    box-shadow:0px 0px 10px 5px rgba(38, 0, 255, 0.15);
    
    transform: scale(1.02);

    color: #fff;
}

p {
    color: rgb(255, 255, 255, 0.25);
}

h2 {
    color: rgba(255, 255, 255, 0.6);
}


